.div__items {
    width: 295px;
    margin: 0;
}

.btn__top {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-top: 15px;
}

.title {
    margin-top: 0;
}

.p__descr {
    margin: 0;
    font-size: 14px;
    height: 50px;
}

.btn__bottom {
    position: absolute;
    top: 700px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-top: 80px;
}

.image__contentleft {
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
}

.image__contentleft .btn__top {
    align-self: center;
}

.image__contentright .btn__top {
    align-self: center;
}

.image__contentleft .btn__bottom {
    align-self: center;
}

.image__contentright .btn__bottom {
    align-self: center;
}

.image__contentleft .image {
    align-self: start;
}

.image__contentright {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.image__contentright .image {
    align-self: end;
}

.image {
    object-fit: cover;
}

.div__bottom {
    display: flex;
    margin-top: 50px;
    width: 290px;
    justify-content: space-between;
}

.image__contentright .div__bottom {
    display: flex;
    flex-direction: row-reverse;
    width: 290px;
    justify-content: space-between;
}

.btn__add {
    background-color: aqua;
    height: 40px;
    border: none;
}