.div__items {
    display: flex;
    flex-direction: column;
    width: 295px;
    margin: 0;
}

.btn__top {
    position: absolute;
    top: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.aa {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}

.image {
    object-fit: cover;
}